<?xml version="1.0" encoding="UTF-8"?>
<updateinfo>
	<info kind="date" value="$dateStr"/>
	<info kind="startVersion" value="$userData.startVersion"/>
	<info kind="endVersion" value="$userData.endVersion"/>
	#foreach( $path in $paths )
		<info kind="modify" type="$path.modifyType" path="$path.path"/>
	#end
</updateinfo>