<?xml version="1.0" encoding="UTF-8"?>
<updateinfo>
	<info kind="date" value="$dateStr"/>
	<info kind="startVersion" value="$userData.startVersion"/>
	<info kind="endVersion" value="$userData.endVersion"/>
	#foreach( $path in $paths )
		#foreach( $realPath in $path.realPaths )
	<info kind="path" type="$path.modifyType" value="$realPath"/>
		#end	
	#end
</updateinfo>